/* .App {
  text-align: center;
  background-color: #5c6b73;
} */

.App-logo {
  height: 10vmin;
  pointer-events: none;
  background-color: #5c6b73;

}

.plant {
  height: 10vmin;
  background-color: #5c6b73;
  border: none;

}


.App-button {
  background-color: #5c6b73;
  outline: none;
  padding: 0.1;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App {
  background-color: #5c6b73;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E8E8ED;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.0em;
  background-color: #5c6b73;
  color: #fff;
  font-size: calc(50px + 2vmin);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
